{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
</head>
<body>
    
    {% block content %}

    <main>
        <div class="anotacoes">

            <h3>{{ topic }}</h3>
            {% for entry in entries %}
                <div> 
                    <p>Anotação registrada em: </p>
                    <p class="date">{{ entry.date_added | date:"M d, Y H:i" }}</p>
                </div> 
                <p>{{ entry.text | linebreaks }}</p>
            {% empty %}
                <p>Parece que não há anotacoes registradas para esta atividade</p>
            {% endfor %}

            <a href="{% url 'new_entry' topic.id %}" class="new_entry"><span>+</span> Nova anotação</a>
        </div>
    </main>

    {% endblock content %}

</body>
</html>