{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades</title>
</head>
<body>
    
    {% block content %}

    <main>
        <div class="atividades">
            <h2>Atividades</h2>
            <p>Veja seu registro de atividades aqui</p>
            <ul>
                {% for topic in topics %}
                    <a href="{% url 'anotacoes' topic.id %}"><li>{{ topic }}</li></a>
                {% empty %}
                    <p>Parece que não há atividades registradas</p>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'new_topic' %}" class="new_topic"><span>+</span> Novo tópico</a>
    </main>
    

    {% endblock content %}