{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar anotação</title>
</head>
<body>

    {% block content %}

    <main>
        <h2>Editar anotação</h2>
        <form action="{% url 'edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="new_topic">Editar</button>
        </form>

    </main>
    
    {% endblock content %}

</body>
</html>