{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    {% block content %}

    {% if error %}
        <p>Não foi possível encontrar esta conta. Verifique as informações e tente novamente</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Entrar</button>
    </form>

    {% endblock content %}

</body>
</html>