{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    {% block content %}

    <form class="login-form" action="{% url 'register' %}" method="post">
        <fieldset>
            <legend><h2>Cadastrar-se</h2></legend>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        
        <button type="submit">Registrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}">
    </form>

    {% endblock content %}

</body>
</html>